/* shared styles */

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #534C64;
    --secondery-color: #FF42A5;
    --third-color:#F948B2;
    --five-color:#8758F1;
    --fourth-color:#FFF;
}

/* nav section style  */
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav > div{
    display: flex;
    align-items: center;
}


.nav-container ul {
    display: flex;
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.web-title-logo .logo {
    width: 85px;
    height: 40px;
}

.section-title {

    padding-left: 20px;
    font-size: 2.8rem;
    font-weight: 700;

}
.nav-container li {
    padding: 0px 30px;
}
.web-follow-logo {
    display: flex;
    padding: 10px 24px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.web-follow-logo a {
    text-decoration: none;
}

.web-follow-logo .logo {
    width: 35px;
    padding-left: 20px;

}
.Title-Char {
    color:var(--secondery-color);
}

/* nav section style finished  */

/* main section styles start */
.playground-section-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
}
.playground-section-container img {
    padding-right:240px ;
}
.playground-section-container p {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);

}
.playground-title{
    color: #0B0223;
font-size: 3rem;
font-weight: 600;
}
.playground-content {
    background-image: url(../images/Group\ 14.png);
    width:50%;

}
.playground-content h3 {
   color: var(--five-color);
font-size: 5.8rem;
font-weight: 800;
}
.btn-sing {
    color:var(--fourth-color);
    border-radius: 48px;
background:var(--third-color);
padding: 21px 40px;
margin-right: 10px;
}
.btn-go {
    color: var(--fourth-color);
    border-radius: 48px;
background: #4EC5F7;
padding: 21px 40px;
}
/* playground section styles finished */

/* responsive styles start  */

/* responsive for mobile devices */
@media screen and (max-width:576px) {
    nav , .nav-container ul {
        flex-direction: column;
    }
    nav > div{
        flex-direction: column;
    }
    .section-title{
        padding: 5px;
    }
    .nav-container li {
        padding:20px;
    }
    .playground-section-container{
        flex-direction: column-reverse;
    }
    .playground-section-container img{
        width: 100%;
        margin-top: 30px;
        padding: 0px;
    }
    .playground-content , .playground-content h3 {
        width: 100%;
        margin:0px;
    }
    .playground-content h3{
        font-size:5rem;
    }
    .web-follow-logo{
        margin-bottom: 20px;
    }
}

/* responsive for tablet  */
@media screen and (min-width:576px) and (max-width:960px) {
    .playground-section-container img{
        width: 45%;
        margin-top: 30px;
        padding: 0px;
    }

    
}